certifi==2020.6.20
cvxopt==1.2.5
cycler==0.10.0
DateTime==4.3
kiwisolver==1.2.0
matplotlib==3.3.2
more-itertools==8.5.0
numpy==1.19.2
pickle-mixin==1.0.2
Pillow==8.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scipy==1.5.3
six==1.15.0
zope.interface==5.1.2
