alabaster==0.7.7
appdirs==1.4.4
apt-clone==0.2.1
apt-xapian-index==0.47
apturl==0.5.2
argcomplete==0.8.1
Babel==1.3
beautifulsoup4==4.4.1
blinker==1.3
Brlapi==0.6.4
certifi==2020.6.20
chardet==2.3.0
click==7.1.2
command-not-found==0.3
configobj==5.0.6
cryptography==1.2.3
cvxopt==1.2.5
cycler==0.10.0
decorator==4.0.6
defer==1.0.6
dirspec==13.10
distlib==0.3.1
docopt==0.6.2
docutils==0.12
fail2ban==0.9.3
fenics-dijitso==2019.1.0
fenics-dolfin==2019.1.0
fenics-ffc==2019.1.0.post0
fenics-fiat==2019.1.0
fenics-ufl==2019.1.0
filelock==3.0.12
Flask==1.1.2
grip==4.5.2
h5py==2.6.0
httplib2==0.9.1
idna==2.0
indicator-sound-switcher===2.1.1ubuntu0
ipdb==0.8.1
ipython==2.4.1
itsdangerous==1.1.0
Jinja2==3.0.1
kiwisolver==1.2.0
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
Markdown==3.3.3
MarkupSafe==2.0.1
matplotlib==3.3.2
more-itertools==8.5.0
mpi4py==1.3.1
mpmath==0.19
mshr==2019.1.0
numpy==1.19.2
oauthlib==1.0.3
onboard==1.2.0
oneconf==0.3.9
pandas==1.1.3
path-and-address==2.0.1
petsc4py==3.7.0
pexpect==4.0.1
Pillow==8.3.1
piston-mini-client==0.7.5
pkgconfig==1.1.0
pluggy==0.3.1
ply==3.7
progressbar==2.3
psutil==3.4.2
ptyprocess==0.5
py==1.4.31
pyasn1==0.1.9
pybind11==2.2.3
pycallgraph==1.0.1
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
Pygments==2.9.0
pygobject==3.20.0
PyICU==1.9.2
PyJWT==1.3.0
pyopencl==2021.2.5
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
python-apt==1.1.0b1+ubuntu0.16.4.12
python-dateutil==2.8.1
python-debian==0.1.27
python-gnupg==0.3.8
python-xapp==1.0.0
pytools==2021.2.7
pytz==2020.1
pyxdg==0.25
PyYAML==5.4.1
reportlab==3.3.0
requests==2.9.1
roman==2.0.0
scipy==1.5.3
screen-resolution-extra==0.0.0
selenium==3.141.0
sessioninstaller==0.0.0
setproctitle==1.1.8
setuptools-git==1.1
simplegeneric==0.8.1
six==1.15.0
slepc4py==3.7.0
Sphinx==1.3.6
sphinx-rtd-theme==0.1.9
spyder==2.3.8
sympy==0.7.6.1
system-service==0.3
thin-client-config-agent==0.8
tox==2.3.1
ubuntu-advantage-tools==27.0
Ubuntu-Make==18.5
ufw==0.35
urllib3==1.26.6
usb-creator==0.3.0
virtkey==0.63.0
virtualenv==20.0.34
Werkzeug==1.0.1
xkit==0.0.0
